.feed{
    flex:0.6;
    margin: 0 20px;
}
.feed__inputContainer{
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color:white;
    border: 1px solid rgb(204, 204, 204);
}
.feed__input{
    border:1px solid lightgray;
    border-radius: 30px;
    padding:10px;
    display: flex;
    color:gray;
    padding-left: 15px;
}

.feed__input > form{
    display:flex;
    width: 100%;
    /* border:1px solid red */
}

.feed__input > form> input{
    border:none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}
.feed__input > form> button{
    display: none;
}

.feed__inputOptions{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    cursor:pointer;
}
